In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 4.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425345 sha256=0762d22deca2166bc97166f735a0c84d33b80daaa7e0551e9ffe2e003786128f
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [ ]:
pip --version

pip 23.1.2 from /usr/local/lib/python3.10/dist-packages/pip (python 3.10)

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark= SparkSession.builder.appName("DataFrame").getOrCreate()

In [ ]:
!pip install findspark

Collecting findspark
  Downloading findspark-2.0.1-py2.py3-none-any.whl (4.4 kB)
Installing collected packages: findspark
Successfully installed findspark-2.0.1

In [ ]:
spark

In [ ]:
df=spark.read.option("header","true").csv("/content/credit_card_data.csv")

In [ ]:
df.printSchema()

root
 |-- ID: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Has a car: string (nullable = true)
 |-- Has a property: string (nullable = true)
 |-- Children count: string (nullable = true)
 |-- Income: string (nullable = true)
 |-- Employment status: string (nullable = true)
 |-- Education level: string (nullable = true)
 |-- Marital status: string (nullable = true)
 |-- Dwelling: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Employment length: string (nullable = true)
 |-- Has a mobile phone: string (nullable = true)
 |-- Has a work phone: string (nullable = true)
 |-- Has a phone: string (nullable = true)
 |-- Has an email: string (nullable = true)
 |-- Job title: string (nullable = true)
 |-- Family member count: string (nullable = true)
 |-- Account age: string (nullable = true)
 |-- Is high risk: string (nullable = true)

In [ ]:
df.head(5)

[Row(ID='5037048', Gender='M', Has a car='Y', Has a property='Y', Children count='0', Income='135000.0', Employment status='Working', Education level='Secondary / secondary special', Marital status='Married', Dwelling='With parents', Age='-16271', Employment length='-3111', Has a mobile phone='1', Has a work phone='0', Has a phone='0', Has an email='0', Job title='Core staff', Family member count='2.0', Account age='-17.0', Is high risk='0'),
 Row(ID='5044630', Gender='F', Has a car='Y', Has a property='N', Children count='1', Income='135000.0', Employment status='Commercial associate', Education level='Higher education', Marital status='Single / not married', Dwelling='House / apartment', Age='-10130', Employment length='-1651', Has a mobile phone='1', Has a work phone='0', Has a phone='0', Has an email='0', Job title='Accountants', Family member count='2.0', Account age='-1.0', Is high risk='0'),
 Row(ID='5079079', Gender='F', Has a car='N', Has a property='Y', Children count='2', Income='180000.0', Employment status='Commercial associate', Education level='Secondary / secondary special', Marital status='Married', Dwelling='House / apartment', Age='-12821', Employment length='-5657', Has a mobile phone='1', Has a work phone='0', Has a phone='0', Has an email='0', Job title='Laborers', Family member count='4.0', Account age='-38.0', Is high risk='0'),
 Row(ID='5112872', Gender='F', Has a car='Y', Has a property='Y', Children count='0', Income='360000.0', Employment status='Commercial associate', Education level='Higher education', Marital status='Single / not married', Dwelling='House / apartment', Age='-20929', Employment length='-2046', Has a mobile phone='1', Has a work phone='0', Has a phone='0', Has an email='1', Job title='Managers', Family member count='1.0', Account age='-11.0', Is high risk='0'),
 Row(ID='5105858', Gender='F', Has a car='N', Has a property='N', Children count='0', Income='270000.0', Employment status='Working', Education level='Secondary / secondary special', Marital status='Separated', Dwelling='House / apartment', Age='-16207', Employment length='-515', Has a mobile phone='1', Has a work phone='0', Has a phone='1', Has an email='0', Job title=None, Family member count='1.0', Account age='-41.0', Is high risk='0')]

In [ ]:
df.show()

+-------+------+---------+--------------+--------------+--------+--------------------+--------------------+--------------------+-------------------+------+-----------------+------------------+----------------+-----------+------------+--------------------+-------------------+-----------+------------+
|     ID|Gender|Has a car|Has a property|Children count|  Income|   Employment status|     Education level|      Marital status|           Dwelling|   Age|Employment length|Has a mobile phone|Has a work phone|Has a phone|Has an email|           Job title|Family member count|Account age|Is high risk|
+-------+------+---------+--------------+--------------+--------+--------------------+--------------------+--------------------+-------------------+------+-----------------+------------------+----------------+-----------+------------+--------------------+-------------------+-----------+------------+
|5037048|     M|        Y|             Y|             0|135000.0|             Working|Secondary / secon...|             Married|       With parents|-16271|            -3111|                 1|               0|          0|           0|          Core staff|                2.0|      -17.0|           0|
|5044630|     F|        Y|             N|             1|135000.0|Commercial associate|    Higher education|Single / not married|  House / apartment|-10130|            -1651|                 1|               0|          0|           0|         Accountants|                2.0|       -1.0|           0|
|5079079|     F|        N|             Y|             2|180000.0|Commercial associate|Secondary / secon...|             Married|  House / apartment|-12821|            -5657|                 1|               0|          0|           0|            Laborers|                4.0|      -38.0|           0|
|5112872|     F|        Y|             Y|             0|360000.0|Commercial associate|    Higher education|Single / not married|  House / apartment|-20929|            -2046|                 1|               0|          0|           1|            Managers|                1.0|      -11.0|           0|
|5105858|     F|        N|             N|             0|270000.0|             Working|Secondary / secon...|           Separated|  House / apartment|-16207|             -515|                 1|               0|          1|           0|                NULL|                1.0|      -41.0|           0|
|5100411|     F|        Y|             Y|             0|135000.0|             Working|Secondary / secon...|             Married|  House / apartment|-13251|            -3839|                 1|               1|          0|           0|         Accountants|                2.0|       -1.0|           0|
|5022817|     M|        Y|             Y|             0|202500.0|             Working|Secondary / secon...|             Married|  House / apartment|-17262|            -1617|                 1|               0|          0|           0|          Core staff|                2.0|      -16.0|           0|
|5009811|     F|        N|             N|             1|202500.0|             Working|Secondary / secon...|             Married|  House / apartment|-11813|            -3266|                 1|               1|          1|           0|         Sales staff|                3.0|      -21.0|           0|
|5113922|     F|        N|             N|             0| 90000.0|           Pensioner|Secondary / secon...|Single / not married|Municipal apartment|-23478|           365243|                 1|               0|          0|           0|                NULL|                1.0|      -50.0|           0|
|5021541|     F|        Y|             N|             1|306000.0|             Working|    Higher education|             Married|  House / apartment| -9310|            -1678|                 1|               0|          0|           0|                NULL|                3.0|      -13.0|           0|
|5061509|     F|        N|             Y|             0|202500.0|           Pensioner|Secondary / secon...|             Married|  House / apartment|-21464|           365243|                 1|               0|          0|           0|                NULL|                2.0|      -15.0|           0|
|5028439|     M|        Y|             Y|             0|315000.0|             Working|    Higher education|             Married|  House / apartment|-15586|            -3337|                 1|               0|          0|           0|            Managers|                2.0|       -6.0|           0|
|5096280|     F|        N|             N|             0|360000.0|Commercial associate|    Higher education|           Separated|  House / apartment|-18168|            -3931|                 1|               1|          1|           0|                NULL|                1.0|      -13.0|           0|
|5024159|     F|        N|             Y|             1|202500.0|             Working|Secondary / secon...|             Married|  House / apartment| -9685|            -1098|                 1|               0|          0|           0|         Sales staff|                3.0|       -6.0|           0|
|5091895|     M|        N|             N|             0|157500.0|Commercial associate|    Higher education|Single / not married|  House / apartment|-10192|            -1600|                 1|               0|          0|           0|         Sales staff|                1.0|      -16.0|           0|
|5009969|     F|        Y|             Y|             0|180000.0|       State servant|Secondary / secon...|             Married|  House / apartment|-20644|            -3873|                 1|               0|          0|           0|      Medicine staff|                2.0|      -41.0|           0|
|5046544|     F|        N|             Y|             1|148500.0|             Working|Secondary / secon...|             Married|  House / apartment|-15083|             -847|                 1|               0|          0|           0|High skill tech s...|                3.0|      -55.0|           0|
|5105991|     M|        N|             N|             0| 90000.0|             Working|Secondary / secon...|             Married|Municipal apartment|-13334|            -2829|                 1|               1|          1|           0|            Laborers|                2.0|      -15.0|           0|
|5091715|     F|        Y|             Y|             1|157500.0|             Working|    Higher education|             Married|  House / apartment| -9766|            -2696|                 1|               1|          0|           0|         Sales staff|                3.0|      -23.0|           0|
|5053194|     F|        N|             Y|             0|315000.0|             Working|    Higher education|             Married|  House / apartment|-15527|            -3792|                 1|               1|          1|           0|         Accountants|                2.0|      -44.0|           0|
+-------+------+---------+--------------+--------------+--------+--------------------+--------------------+--------------------+-------------------+------+-----------------+------------------+----------------+-----------+------------+--------------------+-------------------+-----------+------------+
only showing top 20 rows

In [ ]:
df.select("Income").show()

+--------+
|  Income|
+--------+
|135000.0|
|135000.0|
|180000.0|
|360000.0|
|270000.0|
|135000.0|
|202500.0|
|202500.0|
| 90000.0|
|306000.0|
|202500.0|
|315000.0|
|360000.0|
|202500.0|
|157500.0|
|180000.0|
|148500.0|
| 90000.0|
|157500.0|
|315000.0|
+--------+
only showing top 20 rows

In [ ]:
df.select(["Employment status","Marital status"]).show()

+--------------------+--------------------+
|   Employment status|      Marital status|
+--------------------+--------------------+
|             Working|             Married|
|Commercial associate|Single / not married|
|Commercial associate|             Married|
|Commercial associate|Single / not married|
|             Working|           Separated|
|             Working|             Married|
|             Working|             Married|
|             Working|             Married|
|           Pensioner|Single / not married|
|             Working|             Married|
|           Pensioner|             Married|
|             Working|             Married|
|Commercial associate|           Separated|
|             Working|             Married|
|Commercial associate|Single / not married|
|       State servant|             Married|
|             Working|             Married|
|             Working|             Married|
|             Working|             Married|
|             Working|             Married|
+--------------------+--------------------+
only showing top 20 rows

In [ ]:
df.dtypes

[('ID', 'string'),
 ('Gender', 'string'),
 ('Has a car', 'string'),
 ('Has a property', 'string'),
 ('Children count', 'string'),
 ('Income', 'string'),
 ('Employment status', 'string'),
 ('Education level', 'string'),
 ('Marital status', 'string'),
 ('Dwelling', 'string'),
 ('Age', 'string'),
 ('Employment length', 'string'),
 ('Has a mobile phone', 'string'),
 ('Has a work phone', 'string'),
 ('Has a phone', 'string'),
 ('Has an email', 'string'),
 ('Job title', 'string'),
 ('Family member count', 'string'),
 ('Account age', 'string'),
 ('Is high risk', 'string')]

In [ ]:
df.describe().show()

+-------+-----------------+------+---------+--------------+-------------------+------------------+--------------------+--------------------+--------------+---------------+-------------------+-----------------+------------------+-------------------+-------------------+-------------------+--------------------+-------------------+-------------------+--------------------+
|summary|               ID|Gender|Has a car|Has a property|     Children count|            Income|   Employment status|     Education level|Marital status|       Dwelling|                Age|Employment length|Has a mobile phone|   Has a work phone|        Has a phone|       Has an email|           Job title|Family member count|        Account age|        Is high risk|
+-------+-----------------+------+---------+--------------+-------------------+------------------+--------------------+--------------------+--------------+---------------+-------------------+-----------------+------------------+-------------------+-------------------+-------------------+--------------------+-------------------+-------------------+--------------------+
|  count|            29165| 29165|    29165|         29165|              29165|             29165|               29165|               29165|         29165|          29165|              29165|            29165|             29165|              29165|              29165|              29165|               20138|              29165|              29165|               29165|
|   mean|5078231.598251329|  NULL|     NULL|          NULL|0.43079033087605006|186890.38534201955|                NULL|                NULL|          NULL|           NULL|-15979.477490142293|59257.76125492885|               1.0|0.22430996056917538| 0.2949768558203326|0.09027944453968799|                NULL|  2.197531287502143|-26.137733584776274|0.017109549117092407|
| stddev|41824.00070770098|  NULL|     NULL|          NULL| 0.7418821928976139|101409.64432687846|                NULL|                NULL|          NULL|           NULL|  4202.997485452926|137655.8834583399|               0.0| 0.4171342328879685|0.45604017503803435| 0.2865866056613126|                NULL| 0.9121887239835872| 16.486701710594726|  0.1296818764332519|
|    min|          5008804|     F|        N|             N|                  0|          101250.0|Commercial associate|     Academic degree|Civil marriage|Co-op apartment|             -10000|            -1000|                 1|                  0|                  0|                  0|         Accountants|                1.0|               -1.0|                   0|
|    max|          5150485|     M|        Y|             Y|                  7|           99900.0|             Working|Secondary / secon...|         Widow|   With parents|              -9996|           365243|                 1|                  1|                  1|                  1|Waiters/barmen staff|                9.0|                0.0|                   1|
+-------+-----------------+------+---------+--------------+-------------------+------------------+--------------------+--------------------+--------------+---------------+-------------------+-----------------+------------------+-------------------+-------------------+-------------------+--------------------+-------------------+-------------------+--------------------+

In [ ]:
df1=df.withColumn("new_age",df["Age"]+2)

In [ ]:
df1

DataFrame[ID: string, Gender: string, Has a car: string, Has a property: string, Children count: string, Income: string, Employment status: string, Education level: string, Marital status: string, Dwelling: string, Age: string, Employment length: string, Has a mobile phone: string, Has a work phone: string, Has a phone: string, Has an email: string, Job title: string, Family member count: string, Account age: string, Is high risk: string, new_age: double]

In [ ]:
df1.select(["Age","new_age"]).show()

+------+--------+
|   Age| new_age|
+------+--------+
|-16271|-16269.0|
|-10130|-10128.0|
|-12821|-12819.0|
|-20929|-20927.0|
|-16207|-16205.0|
|-13251|-13249.0|
|-17262|-17260.0|
|-11813|-11811.0|
|-23478|-23476.0|
| -9310| -9308.0|
|-21464|-21462.0|
|-15586|-15584.0|
|-18168|-18166.0|
| -9685| -9683.0|
|-10192|-10190.0|
|-20644|-20642.0|
|-15083|-15081.0|
|-13334|-13332.0|
| -9766| -9764.0|
|-15527|-15525.0|
+------+--------+
only showing top 20 rows

In [ ]:
df1.drop("new_age")

DataFrame[ID: string, Gender: string, Has a car: string, Has a property: string, Children count: string, Income: string, Employment status: string, Education level: string, Marital status: string, Dwelling: string, Age: string, Employment length: string, Has a mobile phone: string, Has a work phone: string, Has a phone: string, Has an email: string, Job title: string, Family member count: string, Account age: string, Is high risk: string]